.testimonials__container {
  width: 40%;
}

.testimonial_item {
  background-color: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  padding-bottom: 4rem;
  border-radius: 2rem;
  user-select: none;
  flex-grow: 1;
}

.testimonial_item__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial_item__review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary);
}

/* ====================== */
/* media queries (tablet) */

@media screen and (max-width: 1024px) {
  .testimonials__container {
    width: 60%;
  }
}

/* ===================== */
/* media queries (phone) */

@media screen and (max-width: 600px) {
  .testimonials__container {
    width: var(--container-width-sm);
  }

  .testimonial_item__review {
    width: var(--container-width-sm);
  }
}
